<!DOCTYPE HTML>
<html lang="en">
  <style>
    html, body {
      height:100%;
      margin:0;
      padding:0;
    }     
    body {
      background-color:#ffe9ec;
      font-family:Copperplate,fantasy;
      margin:0;
      display:flex;
      flex-direction:column;
      justify-content:center;
      align-items:center;
    }
    h1 {
      color:white;
      background-color:#0B6162;
      text-align:center;
      border-radius:10px;
      width:90%;
      padding:2%;
    }
    h2 {
      text-align:center;
      border-radius:10px;
      padding:2%;
    }
    h3 {
      width:80%
    }
    img {
      width:50%;
      border-radius:10px;
      margin:10px;
    }
    a {
      color:white;
    }
    .section {
      display:flex;
      flex-direction:column;
      align-items:center;
      padding:50px;
      width:90%;
    }
    .intro {
      display:flex;
      flex-direction:row;
      align-items:center;
      justify-content: center;
      gap:10px;
    }
    .title {
      display:flex;
      flex-direction:column;
      align-items:center;
    }
    .resume {
      display:block;
      padding:2%;
      text-align:left;
      align-self: flex-start;
    }
    footer {
      display:flex;
      justify-content:center;
      gap: 10px;
    }
    .footerButton {
      background-color: #0B6162;
      color:white;
      padding: 10px, 20px;
      margin: 20px;
      font-size: 25px;
      border-radius: 16px;
    }
    .footerButton:hover {
      background-color: #E75480;
    }
    @media (max-width:700px) {
    .intro {
      flex-direction: column;
      gap:20px;
    }
    img {
      width:80%;
      height:auto;
    }
    h1,h2 {
      width:90%
    }
  }
  </style>
